doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/css/foundation.min.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")      
    script(src="/js/main.js")
  body   			
    ul(class="menu")       
      li
        a(class="button" href="/") Companies
      li
        a(class="button" href="/api/createCompany") Create a company
      li
        a(class="button" href="/api/users") Users
      li
        a(class="button" href="/api/createUser") Create a user
    block content